extends ../content.pug

block content
  p.
    Iemand heeft een nieuwe activiteit aangemaakt in IBS genaamd: #{activity.name}.
    Deze activiteit vind plaats op #{date} te #{location}

  p Omschrijving: #{activity.description}

  <!--[if true]>
    div(style='margin-bottom: 16px;')
      p
        | Ben jij ook bij? 

      a(href=url + '/activiteit/' + activity.id style='color:#551b8a;')
        | Meld je dan nu aan!
  <![endif]-->
  <!--[if !true]><!-->
    div
      p(style='display:inline;')
        | Ben jij ook bij? 

      a(href=url + '/activiteit/' + activity.id style='color:#551b8a; display:inline;')
        | Meld je dan nu aan!
  <![endif]-->