doctype html
html(lang='nl' dir='ltr' xmlns:v='urn:schemas-microsoft-com:vml' xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=yes')
    meta(name='format-detection' content='telephone=no, date=no, address=no, email=no, url=no')
    meta(name='x-apple-disable-message-reformatting')
    title
      | #{subject}
    <!--[if mso]>
      noscript
        xml
          o:OfficeDocumentSettings
            o:PixelsPerInch 96
    <![endif]-->

    style.
      hr {
        border-radius: 10px;
      }

  body(class='body' xml:lang='en')
    div(role='article' aria-roledescription='email' aria-label=subject lang='nl' dir='ltr' style='font-size:medium; font-size:max(16px, 1rem);font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji')

      <!--[if true]>
        <table role='presentation' style='width:37.5em' align='center'><tr><td>
      <![endif]-->
      <!--[if !true]><!-->
        <div style='max-width:600px;margin: 0 auto;'>
      <!--<![endif]-->

        block container
    
      <!--[if !true]><!-->
        </div>
      <!--<![endif]-->
      <!--[if true]>
        </td></tr></table>
      <![endif]-->

