extends ./base.pug

block container
  block header
    div(style='text-align:center; margin-top:32px; width:100%')
      img(src=logo alt="Invictus Bier Systeem" width="342" style='width:342px;')

    p.
      Beste #{name},

  block content

  block footer
    div
      <!--[if true]>
      p(style='padding:0;margin:0;') Groetjes,
      <![endif]-->
      <!--[if !true]><!-->
      p(style='padding:0;margin:0;margin-top:16px;') Groetjes,
      <!--<![endif]-->
      if (isCustom && isCustom == true)
        p(style='padding:0;margin:0;') 
        | #{sender}
      else
        p(style='padding:0;margin:0;') Invictus Bier Systeem

    hr(style='margin:16px 0;width:100%;')

    p(style='margin-top:16px;')
      | Je ontvangt deze e-mail omdat #{isAdmin ? 'je admin bent van Invictus Bier Systeem': (isCustom ? senderFirstName + ' deze heeft verstuurd vanaf Invictus Bier Systeem' : (isMember ? 'je lid bent van O.D.D. Invictus' : 'je feut bent bij O.D.D. Invictus'))} 

    unless (isCustom && isCustom == true)
      a(href=url + '/instellingen' style='color:#551b8a;')
        | Niet meer zulke e-mails ontvangen?